/* body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body {
  height: 100%;
  max-height: 100%;
  font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",Georgia,tahoma,arial,simsun,"宋体";
  font-size: 2.0rem;
  line-height: 1.6em;
  color: #3A4145;
}

.markdown-content {
  font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB",
    "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  color: #444443;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px 0;
  word-break: break-all;
}

.markdown-content ::-moz-selection {
  background-color: rgba(0, 0, 0, 0.2);
}

.markdown-content ::selection {
  background-color: rgba(0, 0, 0, 0.2);
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB",
    "Droid Sans Fallback", "Microsoft YaHei", "SimSun", sans-serif;
  color: #222223;
  font-weight: bold;
}

.markdown-content h1 {
  font-size: 1.6em;
  margin: 0.67em 0;
}

.markdown-content > h1 {
  margin-top: 0;
}

.markdown-content h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

.markdown-content h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  font-size: 1em;
  margin: 1.6em 0 1em 0;
}

.markdown-content h6 {
  font-weight: 500;
}

.markdown-content p {
  margin-top: 0;
  margin-bottom: 1.46em;
}

.markdown-content p:last-of-type {
  margin-bottom: 0;
}

.markdown-content a {
  color: #111;
  word-wrap: break-word;
  text-decoration-color: rgba(0, 0, 0, 0.4);
}

.markdown-content a:hover {
  color: #555;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.6);
}

.markdown-content strong,
.markdown-content b {
  font-weight: 700;
  color: #222223;
}

.markdown-content em,
.markdown-content i {
  font-style: italic;
  color: #222223;
}

.markdown-content img {
  max-width: 100%;
  height: auto;
  margin: 0.2em 0;
}

.markdown-content a img {
  /* Remove border on IE */
  border: none;
}

.markdown-content figure {
  position: relative;
  clear: both;
  outline: 0;
  margin: 10px 0 30px;
  padding: 0;
  min-height: 100px;
}

.markdown-content figure img {
  display: block;
  max-width: 100%;
  margin: auto auto 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.markdown-content figure figcaption {
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #666665;
}

.markdown-content figure figcaption a {
  text-decoration: none;
  color: #666665;
}

.markdown-content hr {
  display: block;
  width: 14%;
  margin: 40px auto 34px;
  border: 0 none;
  border-top: 2px solid #dededc;
}

.markdown-content blockquote {
  margin: 0 0 1.64em 0;
  border-left: 3px solid #dadada;
  padding-left: 12px;
  color: #666664;
}

.markdown-content blockquote a {
  color: #666664;
}

.markdown-content ul,
.markdown-content ol {
  margin: 0 0 24px 6px;
  padding-left: 16px;
}

.markdown-content ul {
  list-style-type: square;
}

.markdown-content ol {
  list-style-type: decimal;
}

.markdown-content li {
  margin-bottom: 0.2em;
  font-size: 14px;
}

.markdown-content li ul,
.markdown-content li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14px;
}

.markdown-content li ul {
  list-style-type: disc;
}

.markdown-content li ul ul {
  list-style-type: circle;
}

.markdown-content li p {
  margin: 0.4em 0 0.6em;
}

.markdown-content .unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.markdown-content code,
.markdown-content tt {
  color: #808080;
  font-size: 0.96em;
  background-color: #f9f9f7;
  padding: 1px 2px;
  border: 1px solid #dadada;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.markdown-content pre {
  margin: 1.64em 0;
  padding: 7px;
  border: none;
  border-left: 3px solid #dadada;
  padding-left: 10px;
  overflow: auto;
  line-height: 1.5;
  font-size: 0.96em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #4c4c4c;
  background-color: #f9f9f7;
}

.markdown-content pre code,
.markdown-content pre tt {
  color: #4c4c4c;
  border: none;
  background: none;
  padding: 0;
}

.markdown-content table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  font-size: 0.96em;
}

.markdown-content th,
.markdown-content td {
  text-align: left;
  padding: 4px 8px 4px 10px;
  border: 1px solid #dadada;
}

.markdown-content td {
  vertical-align: top;
}

.markdown-content tr:nth-child(even) {
  background-color: #efefee;
}

.markdown-content iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}

.markdown-content figure iframe {
  margin: auto;
}

.markdown-content table pre {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

@media (min-width: 1100px) {
  .markdown-content blockquote {
    margin-left: -24px;
    padding-left: 20px;
    border-width: 4px;
  }

  .markdown-content blockquote blockquote {
    margin-left: 0;
  }

  .markdown-content figure img {
    margin: 0 0 4px;
  }

  .markdown-content figure figcaption:before {
    width: 25%;
    margin-left: 75%;
    border-top: 1px solid #dededc;
    display: block;
    content: "";
    margin-bottom: 10px;
  }

  .markdown-content figure figcaption {
    position: absolute;
    left: -172px;
    width: 150px;
    top: 0;
    text-align: right;
    margin-top: 0;
  }
}
